.right-inner-addon {
    position: relative;
}

.right-inner-addon input {
    padding-right: 30px;
}
.right-inner-addon > span {
    background-color: rgba(249, 249, 249, 0)!important;
    border-bottom: 0;
    border-left: rgba(249, 249, 249, 0)!important;
    border-radius: 0;
    border-top: rgba(249, 249, 249, 0)!important;
    position: absolute;
    padding: 25px 12px;
    right: 0;
    width: 60px;    
}
.right-inner-addon > span:hover {
    cursor: pointer;
    left: auto;
    right: 0;
    left: auto;
    background-color: #e6f3fb00 !important;
}
