body {
    background-color: #666666;
}
.ps-import-card-holder-details {
    height: 532px;
    margin: 5% auto;
    width: 700px;
    background-color: #fff;
    position: relative;
}
.ps-import-card-holder-details header.row{
    padding: 0;
}
.ps-import-card-holder-details .row {
    margin-left: 0;
    margin-right: 0;
    padding: 0 20px;
}
.ps-import-card-holder-details .import-holder-card-heading{
    padding: 0;
    border-bottom: 0;
}
.ps-import-card-holder-details .modal-body.viewer-popup {
    padding: 0;
}
.ps-import-card-holder-details .nav.nav-tabs.pw_tabs li a{
    padding: 0 0 5px;
}
.ps-import-card-holder-details .people_details {
    width: 100%;
}
.ps-import-card-holder-details h1 {
    color: #202020;
    font-size: 22px;
    margin: 0 32px;
    padding: 31px 0 0;
}

.ps-import-card-holder-details ul {
    padding-top: 20px;
    padding-left: 24px;
}
.ps-import-card-holder-details .import-holder-form {
    float: left;
    width: 100%;
    padding: 20px 36px;
}
.ps-import-card-holder-details .import-holder-form label{
    width: 100%;
}
.ps-import-card-holder-details .import-holder-form .row{
    padding: 0;
}
.ps-import-card-holder-details .csv-file {
    color: #606060;
    margin: 0;
    padding-top: 10px;
}
.ps-import-card-holder-details .form-group {
    margin-bottom: 0;
}
.ps-import-card-holder-details .modal-footer {
    padding: 16px 16px 15px;
}
.ps-import-card-holder-details .import-holder-form input {
    margin-left: 0;
    padding-bottom: 6px;
    padding-left: 10px;
    padding-top: 6px;
    width: 320px;
}
.ps-import-card-holder-details .row > input {
    width: 300px;
}
.ps-import-card-holder-details .btn:first-child{
    margin-right: 6px;
}
.ps-import-card-holder-details ul.nav-tabs.pw_tabs {
    border-bottom: 1px solid #e7e7e7;
    padding: 15px 0 0;
    margin: 0 34px;
}
.ps-import-card-holder-details footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.ps-import-card-holder-details .import-holder-form .selectize-input {
  border-radius: 0;
}
.ps-import-card-holder-details .modal-content{
border-radius: 0;
}
/* Css for Table by Brahm */
.ps-import-card-holder-details .table.download-status-table{
    margin-bottom: 0;
}
.ps-import-card-holder-details .import-screen-table table tbody tr td {
    height: 40px;
    vertical-align: middle;
}
.ps-import-card-holder-details .import-screen-table td.col-sm-4{
   padding-bottom: 3px;
}
.ps-import-card-holder-details .import-screen-table .table-striped>tbody>tr:nth-of-type(odd) {
    background: none;
}
.ps-import-card-holder-details .table-header-download {
    background-color: #fff;
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    margin-top: -16px;
    padding: 0 32px;
    position: relative;
    overflow: hidden;
}
.ps-import-card-holder-details .import-screen-table {
    background-color: #fff;
    color: #606060;
    padding: 0;
    height: 200px;
    overflow-y: scroll;
}
.ps-import-card-holder-details .import-screen-table th {
    color: transparent;
    border: medium none;
    color: transparent;
    font-weight: normal;
    height: 0;
    line-height: 0;
    margin: 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
    white-space: nowrap;
    position: initial;
}
.ps-import-card-holder-details .import-screen-table td > div {
    padding-left: 11px;
}
.ps-import-card-holder-details .table-background {
    display: inline-block;
    padding: 0;
    width: 100%;
    margin-top: -10px;
}
.ps-import-card-holder-details .table-header-download .slimScrollDiv {
   overflow: visible !important;
   margin-top: 44px;
}
.ps-import-card-holder-details .import-screen-table th div {
    position: absolute;
    color: #808080;
    font-family:"HoneywellSansWeb-Bold" !important;
    padding: 16px 20px 14px;
    margin-left: -10px;
    line-height: normal;
    z-index: 8;
    text-align: left;
    top: -44px;
    background: #fff;
    width: 100%;
}
.ps-import-card-holder-details .import-screen-table.scroll-x.scroll-y {
    border-top: 2px solid #dfdfdf;
    height: 207px !important;
}
.ps-import-card-holder-details .import-screen-table .table>thead>tr>th{
    border-bottom: 0;
}
.ps-import-card-holder-details .import-screen-table .table tbody tr:first-child td{
    border-top: 0;
    color: #606060;
}
/* Ends Here For table Css */
.ps-import-card-holder-details .heading-table{
    padding: 0;
}
.ps-import-card-holder-details .heading-table h2{
  font-size: 16px;
  font-weight: bold;
}
@media screen and (-ms-high-contrast:active), all and (-ms-high-contrast:none) {
    .ps-import-card-holder-details .import-holder-form input{
        padding: 6px 6px 10px;
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: #707070;
    }
}