body {
	background-color: #666666;
	margin: 0;
	font-family: Honeywell Sans Bold; 
}
.ps-import-card-holder-details {
	margin: 5% auto;
	width: 1000px;
	background-color: #fff;
}
.ps-import-card-holder-details .row {
	margin-left: 0;
	margin-right: 0;
}
.ps-import-card-holder-details .people_details {
	width: 100%;
}
.ps-import-card-holder-details h1 {
	font-size: 22px;
	height: 64px;
	margin: 0 34px;
	padding: 32px 0 0;
	text-transform: capitalize;
} 
.ps-import-card-holder-details ul {
	padding-top: 20px;
	padding-left: 24px;
}
.ps-import-card-holder-details .import-holder-form {
	padding: 0 34px;
	width: 100%;
}
.ps-import-card-holder-details .nav-tabs.pw_tabs{
	margin: 0 34px;
	padding: 0;
}
.ps-import-card-holder-details .row.csv-file-title{
	padding: 0;
}
.ps-import-card-holder-details .csv-file {
	color: #606060;
	margin: 0;
	padding-top: 10px;
}
.ps-import-card-holder-details .import-holder-form input {
	margin-left: 10px;
}
.ps-import-card-holder-details .heading-table {
	padding: 0;
}
.ps-import-card-holder-details .import-card-table th {
	font-weight: normal;
}
.ps-import-card-holder-details .import-card-table .table-condensed thead th,
.ps-import-card-holder-details .import-card-table .table-condensed tr td {
	padding: 5px 5px 5px 10px;
}
.ps-import-card-holder-details .form-group {
	margin-bottom: 0;
}
.ps-import-card-holder-details .table thead {
	padding-right: 24px;
}
.ps-import-card-holder-details .table > thead > tr > th {
	border-top: 1px solid #ddd !important;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: none;
}
.ps-import-card-holder-details .table > thead > tr > th:nth-child(1) {
	border-left: none;
}
.ps-import-card-holder-details .user-name,
.ps-import-card-holder-details .user-external-access{
	padding: 0;
}
.ps-import-card-holder-details .user-name:first-child,
.ps-import-card-holder-details .card-detail:first-child {
	padding-left: 20px;
}
.ps-import-card-holder-details .card-detail:last-child {
	padding-right: 12px;
}
.ps-import-card-holder-details .csv-file-title label {
	font-family: honeywellsansweb-medium;
	font-size: 14px;
	height: 46px;
	margin: 0;
	padding: 12px 0;
}
.ps-import-card-holder-details .table-area-wrapper p {
	color: #606060;
    font-family: honeywellsansweb-bold;
    font-size: 14px;
    margin: 2px 0 0;
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ps-import-card-holder-details .card-detail > p {
	color: #606060 !important;
	font-family: honeywellsansweb-medium;
	font-size: 14px;
}
.ps-import-card-holder-details .table-title {
    border-bottom: 2px solid #dfdfdf;
    height: 46px;
    line-height: 42px;
}
.ps-import-card-holder-details .table-title p{
    font-family: "HoneywellSansWeb-Bold" !important;
}
.ps-import-card-holder-details .user-card-number {
	border-bottom: 1px solid #f0f0f0;
	min-height: 42px;
	padding: 9px 0;
	display: -ms-flexbox; 
	display: -webkit-flex; 
	display: flex;
	display: -moz-flex;
	display: -webkit-box; 
	-ms-flex-align: center; 
	-webkit-align-items: center;
	-webkit-box-align: center; 
	align-items: center;
}
.ps-import-card-holder-details  .card-detail {
	padding: 0;
}
.ps-import-card-holder-details .modal-footer {
	margin: 16px 0;
    padding-bottom: 0;
}
.ps-import-card-holder-details .footer-text-line {
	margin: 6px 12px;
	font-size: 14px;
    color: #707070;
    font-family: honeywellsansweb-medium;
}
.ps-import-card-holder-details .import-holder-card-heading{
	padding: 0;
}
.ps-import-card-holder-details .modal-body.viewer-popup{
	padding: 15px 0;
}
.ps-import-card-holder-details .modal-footer .btn:first-child {
	margin-right: 0;
}
.ps-import-card-holder-details .modal-footer .btn:nth-child(2),
.ps-import-card-holder-details .modal-footer .btn:nth-child(3) {
	margin-right: 8px;
}
.ps-import-card-holder-details .table-title {
	background-color: #fff;
}
.ps-import-card-holder-details .table-area-wrapper {
	border-top: 1px solid #e6e6e6;
	padding: 6px 0 0;
	margin: 0 32px;
}
.ps-import-card-holder-details .user-detail-wrapper {
	background: #fff;
	overflow-x: hidden;
}
.ps-import-card-holder-details .csv-file-title {
	padding: 0 20px;
}
.ps-import-card-holder-details .modal-content{
  border-radius: 0;
}