.map_all_sites_details {
  padding: 12px 20px 11px;
  float: left;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  outline: none;
}
.map_all_sites_details.active{
  background:  #e7f4fc;
  border-bottom: 1px solid #8bc9f2 !important;
  border-top: 1px solid #8bc9f2;
}
.map_all_sites_details h3 {
  color: #303030;
  margin: 0;
  font-family: 'HoneywellSansWeb-Bold' !important;
  font-size: 15px;
  word-wrap: inherit;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  line-height: 22px;
}
.map_all_sites_details span {
  color: #808080;
  word-wrap: inherit;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  float: left;
}
.map_all_sites_details .icon-error-ex{
  background-position: -545px -448px;
  width: 30px !important;
  height: 35px !important;
}
.map_all_sites_details .icon-ex {
  background-position: -727px -448px;
  width: 30px !important;
  height: 35px !important;
}
.map_all_sites_details_listing {
  width: 89%;
}
.ps-viewer-left-sidebar .icon-arrow {
  background-position: -37px -580px;
  float: right;
  display: block;
  height: 20px;
  width: 30px;
}
/* Css for Campus mapus page */
.ps-main-container-map .ps-viewer-left-sidebar .icon-left-arrow{
  width: 18px;
  height: 20px;
}
.ps-main-container-map .ps-viewer-left-sidebar #accordion1 li.search {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.ps-main-container-map .ps-viewer-left-sidebar #accordion1 li {
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    border-bottom: none;
}
.ps-main-container-map .ps-viewer-left-sidebar #accordion1 a {
    padding: 0 20px;
    float: left;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site .icon-search {
    float: left;
    width: 87%;
    height: 44px;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site .form-search {
  background: none !important;
  text-indent: 0px !important;
  width: 100% !important;
  text-indent: 0px !important;
  width: calc(100% - 45px) !important;
  float: right;
  height: 43px !important;
  padding-right: 9px !important;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site .focus-icon-search {
  border: none;
  background-image: url(../../images/Icons_Sprites_MPC.svg);
  background-position: -755px -186px;
  height: 26px;
  cursor: pointer;
  float: left;
  width: 30px;
  margin-left: 15px;
  position: relative;
  top: 6px;
}
.ps-main-container-map .ps-viewer-left-sidebar .icon-search input:focus{
  border: none;
}
.ps-main-container-map .ps-viewer-left-sidebar .ps-checkbox.main-li{
  background: #f2f2f2;
}
.ps-main-container-map .ps-viewer-left-sidebar ul li{
  background: #ffffff;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site legand {
  width: 250px;
  word-wrap: inherit;
  text-decoration: none;
  color: #303030;
  font-size: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
  padding-top: 6px;
  font-weight: bold;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site .label-padding:before{
  content: none;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site .icon-add {
  background-position: -792px -184px ;
  font-size: 0;
  margin: 0 -10px 3px 0;
  width: 17px;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site .icon-add:hover {
  background-position: -792px -214px;
}
.ps-main-container-map .ps-viewer-left-sidebar .collaspe-icons > a > span > span {
    background-position: -732px -335px !important;
    background-image: url(../../images/Icons_Sprites_MPC.svg);
}
.ps-main-container-map .ps-viewer-left-sidebar .collaspe-icons > a > span > span:hover {
    background-position: -732px -365px !important;
}
.ps-main-container-map .ps-left-header-icons{
  margin-top: 10px;
  width: 10%;
}
.ps-main-container-map .icon-doors-active{
  background-position: -10px -630px;
  margin-top: 8px;
}
.ps-main-container-map .icon-doors-motion{
  background-position: -70px -630px;
  margin-top: 8px;
}
.ps-main-container-map .icon-rest {
    background-position: -39px -640px;
}
.ps-main-container-map .icon-doors-camera{
  background-position: -550px -420px;
  margin-top: 8px;
}
.main-map{
  background: #f5f5f5;
  width: 100%;
}
.background-map{
  padding: 20px 60px;
}
.background-map-1{
  padding:0;
}
.ps-main-container-map .ps-viewer-left-sidebar #accordion1 a.ps-left-header-icons{
  padding: 0;
  width: auto;
  float: none;
  border:none;
}
.ps-viewer-left-sidebar .icon-arrow:hover {
    background-position: -7px -580px;
}
 .map_list_view{
    top: 105px;
    left: 34%;
}
.dropdown-menu.ps-dropdown-custom.map_list_view {
  border-radius: 0;
  padding: 5px 20px 0;
  width: 215px;
}
.dropdown-menu.ps-dropdown-custom.map_list_view .checkbox label {
    padding-left: 0;
}
.dropdown-menu.ps-dropdown-custom.map_list_view .checkbox input[type="checkbox"] {
  margin-top: 4px;
}
@media screen and (max-width: 1300px){
  .ps-viewer-left-sidebar .popup-site legand {
    width: 150px;
  }
}
.map_list_view .icon-all-device{
  background-position: -10px -603px;
  margin: 0 15px 0 10px;
}
.map_list_view .icon-all-camera{
  background-position: -40px -603px;
  margin: 0 15px 0 10px;
}
.map_list_view .icon-zone-expanders{
  background-position: -70px -603px;
  margin: 0 15px 0 10px;
}
.map_list_view .icon-all-controllers{
  background-position: -100px -603px;
  margin: 0 15px 0 10px;
}
.map_list_view .icon-all-doors{
  background-position: -10px -603px;
  margin: 0 15px 0 10px;
}
.map_list_view .icon-all-zones{
  background-position: -130px -603px;
  margin: 0 15px 0 10px;
}
.ps-map-content-title{
  margin: 16px 0 6px;
}
.ps-map-content-title .area-title{
  font-size: 16px;
  font-family: 'HoneywellSansWeb-Bold' !important;
  color: #303030;
}
.ps-map-content-title .icon-down{
  background-position: -72px -460px;
  margin: 0 10px 0 5px;
}
.ps-map-content-title .icon-down:hover{
  background-position: -100px -460px;  
}
.dropdown-menu.ps-dropdown-custom.map_area_list_view {
  border-radius: 0;
  width: 159px;
  left: 2%;
  top: 29px;
  padding: 0;
  margin: 0
}
.dropdown-menu.ps-dropdown-custom.map_area_list_view ul{
  margin: 0;
  padding: 0;
}
.dropdown-menu.ps-dropdown-custom.map_area_list_view ul li{
  border-bottom: 1px solid #e7e7e7;
  color: #303030;
  cursor: pointer;
  font-size: 14px;
  padding: 5px 20px;
}
.dropdown-menu.ps-dropdown-custom.map_area_list_view ul li:hover{
  background: #fafafa;
}
.ps-map-content-title .icon-down{
  background-position: -70px -460px;
  margin: 0 10px 0 5px;
}
.ps-main-container-map .ps-viewer-left-sidebar .accordion1 li ul li .label-padding{
  padding-left: 0 !important;
  height: 50px;
}
.ps-main-container-map .ps-viewer-left-sidebar .accordion1 li ul li .label-padding.no-height{
  height: auto;
}
.ps-main-container-map .ps-viewer-left-sidebar ul.accordion1{
  margin: 0;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site legand span{
  font-size: 13px;
  font-weight: bold;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site legand span.main-li-bold{
  font-size: 14px;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site legand span.main-li-title{
  color: #606060;
  font-weight: normal;
}
.ps-main-container-map .ps-viewer-left-sidebar .popup-site li.active {
  background:  #e7f4fc;
  border-bottom: 1px solid #8bc9f2 !important;
  border-top: 1px solid #8bc9f2;
}
.ps-main-container-map .ps-viewer-left-sidebar .cdetails{
  color: #808080;
}
.ps-main-container-map .ps-viewer-left-sidebar #accordion1 li:hover{
  background: #fcfcfc;
}