.video-settin body {
    padding-bottom: 0;
    overflow: hidden;
}
.video-settin .main_container {
    background: #fff;
    height: calc(100% - 60px);
    margin-top: 60px !important;
}
.video-settin body {
    font-family: "HoneywellSansWeb-Medium", Arial, Serif !important;
}

.video-settin .mpc .ppl-list,
.video-settin .mpc .video-tab {
    overflow: auto;
}

.video-settin .mpc .activity_card_table_header tr,
.video-settin .mpc .activity_card_table_header th {
    /*    border-top: #dfdfdf 1px solid;*/
    border-bottom: #dfdfdf 1px solid;
}

.video-settin .mpc .activity_card_table_body tr,
.video-settin .mpc .activity_card_table_body th {
    border-top: #f0f0f0 1px solid;
    border-bottom: #f0f0f0 1px solid;
}

.video-settin .mpc .table.header_tableevent.event_card_table_content thead tr th {
    border-bottom: #dfdfdf 1px solid;
}
.video-settin .mpc .activity_card_table{
    padding-top: 7px;
}
.video-settin .mpc .table.activity_card_table_body  {
    border-spacing: 33px 0px;
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    margin: 0px 6px 0px -15px !important;
}

.video-settin .mpc .activity_card_table_body tbody {
    border-spacing: 33px 0px;
    width: 100%;
    border-collapse: collapse;
    max-width: 100%;
    margin:     margin: 0 6px 0px -5px !important;
    display: table;
    border-bottom: 1px solid #e7e7e7;
}
.video-settin .mpc .activity_card_table_body tbody tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
}
.video-settin .mpc .activity_card_table_body tbody tr:hover td {
    background-color: #f5f5f5;
    border-bottom: 1px solid #f0f0f0;
    border-top: 1px solid #f0f0f0 !important;
    color: #303030;
}
.video-settin .mpc .activity_card_table_header thead tr th {
    line-height: 2;
    vertical-align: top;
}

.video-settin .mpc .activity_card_table_header thead tr th {
    line-height: 2;
    vertical-align: top;
}

.video-settin .mpc .activity_card_table_body tbody tr td {
    line-height: 1.4;
    vertical-align: middle;
}

.video-settin .mpc .table.header_tableevent.event_card_table_content thead tr th {
    line-height: 2.8;
    vertical-align: middle;
    padding-left: 20px;
}

.video-settin .mpc table.activity_card_table_body tbody tr td {
    padding-left: 40px;
    width: 240px;
}

.video-settin .mpc .scroll_shadow {
    box-shadow: inset 0 7px 9px -7px rgba(0, 0, 0, 0.2);
}

.video-settin .mpc .event_card_table_content {
    background-color: #ffffff;
}

.video-settin .mpc .event_card_background {
    background-color: #ffffff;
}
.video-settin .mpc .people_details {
    width: calc(100% - 340px);
    padding: 0;
}
.video-settin .mpc .activity_card_table .table>thead>tr>th {
    color: #808080;
    width: 12.5%;
    border: 0;
    font-size: 14px;
}